<%- include('partials/heading') -%>
    <div class="container-fluid page-holder bg-cover">
        <div class="jumbotron mx-auto">
            <div class="container text-center ">
                <h1 class="text-center display-4 text-info">Welcome to B-Blog !</h1>
                <% if (!currentuser){ %>
                    <p class="text-center text-info p ">Login so you can interact with posts and get answers</p>
                    <a href="/login" class="btn btn-dark">Login</a>
                    <%}%>

                        <% if(currentuser && currentuser.role == "administrator"){%>
                            <a href="/posts/new" class="btn btn-dark">Add New Post</a>
                            <%}%>
            </div>
        </div>

        <div class="container border-secondary  border-left border-right border-2 rounded bg-white">
            <div class="text-center heading">
                <h2>POSTS</h2>
            </div>
            <div class="blue-divider"></div>
            <div class="text-center"></div>
            <div class="row text-center">
                <% posts.forEach(function(post){ %>
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div style="margin-bottom:30px" class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="<%=post.image%>" class="card-img-top" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <%=post.title%>
                                </h5>
                                <a href="posts/<%=post._id %>" class="btn btn-dark text-info">More Info !</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <% if(currentuser && currentuser.role == "administrator"){%>

            <div class="container my-5 border-secondary border-left border-right  border-2 rounded bg-white">
                <div class="text-center mt-5 heading">
                    <h2>Users</h2>
                </div>
                <div class="blue-divider"></div>
                <div class="text-center">
                    <a href="/users/new" class="btn btn-dark mb-5">Add New User</a>
                </div>
                <div class="text-center"></div>
                <div class="row text-center">
                    <% users.forEach(function(user){ %>
                        <% if (user.role == "user"){ %>
                            <div class="col-md-4 col-sm-6 col-lg-3">
                                <div style="margin-bottom:30px" class="card">
                                    <img class="img-thumbnail " src="<%=user.image%>">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">
                                            <span>Username :  <%=user.username%></span><br>
                                            <span>Role : <%=user.role%></span><br>
                                            <span>email : <%=user.email%></span><br>
                                        </h5>
                                        <small> <a href="/users/<%=user._id%>/edit" class="btn btn-light text-warning btn-sm">update</a></small>
                                        <form class="del-upd-form" action="/users/<%=user._id%>?_method=DELETE" method="POST">
                                            <small> <button class="btn btn-light text-danger btn-sm">Delete</button></small>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% }}); %>
                </div>
            </div>


            <%}%>


    </div>


    <%- include('partials/footer') -%>