<%- include('partials/heading') -%>
    <div class="container-fluid page-holder bg-cover">
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="text-center">Welcome to B-Blog !</h1>
                <% if (!currentuser){ %>
                    <p class="text-center">Login so you can interact with posts and get answers</p>
                    <a href="/login" class="btn btn-dark">Login</a>
                    <%}%>

                        <% if(currentuser && currentuser.role == "administrator"){%>
                            <a href="/posts/new" class="btn btn-info">Add New Post</a>
                            <%}%>
            </div>
        </div>
        <div class="text-center heading">
            <h2>POSTS</h2>
        </div>
        <div class="blue-divider"></div>
        <div class="container border-dark border-left border-right">
            <div class="text-center"></div>
            <div class="row text-center">
                <% posts.forEach(function(post){ %>
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div style="margin-bottom:30px" class="card">
                            <img class="img-thumbnail" src="<%=post.image%>">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <%=post.title%>
                                </h5>
                                <a href="posts/<%=post._id %>" class="btn btn-primary">More Info !</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <% if(currentuser && currentuser.role == "administrator"){%>
            <div class="text-center heading">
                <h2>Users</h2>
            </div>
            <div class="blue-divider"></div>
            <div class="container border-dark border-left border-right">
                <div class="text-center"></div>
                <div class="row text-center">
                    <% users.forEach(function(user){ %>
                        <div class="col-md-4 col-sm-6 col-lg-3">
                            <div style="margin-bottom:30px" class="card">
                                <img class="img-thumbnail" src="<%=user.image%>">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <span>Username :  <%=user.username%></span><br>
                                        <span>Role : <%=user.role%></span><br>
                                        <span>email : <%=user.email%></span><br>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>


            <%}%>


    </div>


    <%- include('partials/footer') -%>