<%- include('../partials/heading') -%>
    <div class="text-center">
        <div class="container border-dark border-left border-right" style="padding:50px;background: white; border-radius:6px;margin:20px auto">
            <h2 class="my-3">
                <%= post.title %>
            </h2>

            <img class="img-thumbnail" src="<%=post.image%>" alt="img item">

            <p class="my-3 ">
                <%- post.text %>
            </p>
            <div class="text-center">
                <a style="margin: 0px auto;" href="/posts/<%=post._id%>/edit" class="btn btn-warning">Update</a>
            </div>

        </div>

        <a style="margin: 0px auto;" href="/" class="btn btn-dark">Back to posts</a>

    </div>


    <%- include( '../partials/footer') -%>